
.myborder {   border-width: 1px;   border-color: lightgrey;   border-style: solid; cursor: pointer;} 

 .Stage {
    margin-right: auto;
    margin-left: auto;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.Select{

  background:#fff505;
    border-width: 1;
    border-style: solid;
    border-color:#fff505;
}
.BoxStyle {
     margin-left: auto;
    margin-right: auto;
    background:#f6f6f6;
    border-width: 0.5;
    border-style: solid;
    border-color:#9e9e9e;
      display: block;
    float: :left;
}

.FireStyle {
   
    background:#fd2424;
    border-width: 0.5;
    border-style: solid;
    border-color:#bf0101;
}
